* 写一个函数，能将一个多类别变量转为多个二元虚拟变量，不能使用sklearn库。  
* 写一个函数，实现交叉验证的功能，不能使用sklearn库。  
  给一组数据，最后分成两组。输入一个大矩阵，输出两个小矩阵。
* 使用sklearn库中的其他分类方法，来预测titanic的生存情况。  
  用其他分类方法看看效果如何。  
* 研究kaggle中的Digit Recognizer数据，尝试用一些特征工程来提取数字的特征，并放入分类器中观察预测准确率，相对直接使用原始变量是否有提升。  
  用图像识别对应数字。用两大类方式做，一种原始数据扔进去做；另一种方式用特征工程。

# 1.多类别变量转为二元虚拟变量

## 1.1 基本思想  

我们将采用一对多方法，将多个类中的一个类标记为正向类(y=1)，然后将其他所有类都标记为负向类，模型记为：$h^{(1)}_\theta(x)$。  
接着，类似地选择另一个类标记为正向类(y=2)，再将其他类都标记为负向类，将整个模型记为：$h^{(2)}_\theta(x)$，以此类推。  

最后得到一系列的模型：$h^i_\theta(x)=p(y=i|x;\theta)，其中i=(1,2,3...k)$。  
需要预测时，我们将所有的分类机都运行一遍，然后对每一个输入变量都选择最高可能性的输出变量。

对于本题目，处理思路类似：  
我们将$n$个类别的数据转换为$n$组数据，分别用$smf.logit$去拟合。

## 1.2 Python实现

In [1]:
def one_vs_all(dataset):
    
    import numpy as np
    
    X = dataset.data
    target = dataset.target
    n = dataset.target_names.shape[0]
    targets = np.zeros((len(target), n))
    
    for i in (range(n+1)[1:]):
        targets[:,i-1] = np.array((map(lambda x: i if x==(i-1) else -i,target)))
    return X, targets

In [2]:
from sklearn import datasets
dataset = datasets.load_iris()

In [3]:
X,y = one_vs_all(dataset)

In [4]:
X.shape

(150, 4)

In [5]:
y.shape

(150, 3)

# 2.交叉验证

将数据分为训练集和测试集，由用户确定拆分比例，输入一个矩阵，输出拆分后的两个矩阵。

In [12]:
def my_cross_validation(data, target, train_size): # train_size 表示训练集的比例

    n = int(round(train_size*len(target)))
    X_train = data[0:n,:]
    X_test = data[n:,:]
    y_train = target[0:n]
    y_test = target[n:]
    
    return X_train, X_test, y_train, y_test

In [13]:
X_train, X_test, y_train, y_test = my_cross_validation(dataset.data,dataset.target,0.68)

In [14]:
X_train.shape, X_test.shape

((102, 4), (48, 4))

In [15]:
y_train.shape, y_test.shape

((102,), (48,))

# 3.Titanic

In [21]:
import pandas as pd

## 3.1 读取并预览数据

In [22]:
train = pd.read_csv("~/DataScience/OMOOC.Data/assignment/7w/train.csv", delimiter=",", encoding=None, header=0)

In [23]:
test = pd.read_csv("~/DataScience/OMOOC.Data/assignment/7w/test.csv", delimiter=",", encoding=None, header=0)

In [24]:
gendermodel = pd.read_csv("~/DataScience/OMOOC.Data/assignment/7w/gendermodel.csv", delimiter=",", encoding=None, header=0)

In [25]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [26]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [27]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [28]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

## 3.2 数据预处理  

#### 处理原则：  
* 尽可能保留指标，不随意剔除。  
* 剔除缺失数据较多的指标，以及明显与存活率无太多相关性的指标。  

#### 处理如下：  
* 剔除id,name，与结果没太多关系。剔除ticket，不好标准化，用票价可以代替。  
* 考虑到Cabin数据缺失太多，可以考虑使用Embarked数据，因为Embarked和票价数据在一定程度上可以说明Cabin。
* 剔除无年龄、无Embarked数据的行。  
* 将sex设为0和1。

In [29]:
train_data = train.drop(train.columns[[3,8,10]],axis=1)

In [30]:
train_data.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [31]:
test_data = test.drop(test.columns[[2,7,9]],axis=1)

In [32]:
test_data.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [33]:
train_data.Sex = train_data.Sex.map({"male":1, "female":0})
test_data.Sex = test_data.Sex.map({"male":1, "female":0})
#train_data["Sex"] = train_data["Sex"].apply(lambda x: x == "male",1,0)
#test_data["Sex"] = test_data["Sex"].apply(lambda x: x == "male",1,0)

In [34]:
train_data.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [35]:
test_data.Embarked.value_counts()

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [36]:
train_data.Embarked = train_data.Embarked.map({"S":0, "C":1, "Q":2})
test_data.Embarked = test_data.Embarked.map({"S":0, "C":1, "Q":2})

In [37]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null float64
dtypes: float64(3), int64(6)
memory usage: 62.7 KB

In [38]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
Embarked       418 non-null int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

In [39]:
train_dataset = train_data.dropna(axis=0)

In [40]:
train_dataset.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500       0.0
1            2         1       1    0  38.0      1      0  71.2833       1.0
2            3         1       3    0  26.0      0      0   7.9250       0.0
3            4         1       1    0  35.0      1      0  53.1000       0.0
4            5         0       3    1  35.0      0      0   8.0500       0.0

In [41]:
train_dataset.shape

(712, 9)

In [42]:
test_data.shape

(418, 8)

In [43]:
gendermodel.shape

(418, 2)

In [44]:
test_data["Survived"] = gendermodel["Survived"]

In [45]:
test_data.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Survived
0          892       3    1  34.5      0      0   7.8292         2         0
1          893       3    0  47.0      1      0   7.0000         0         1
2          894       2    1  62.0      0      0   9.6875         2         0
3          895       3    1  27.0      0      0   8.6625         0         0
4          896       3    0  22.0      1      1  12.2875         0         1

In [46]:
test_dataset = test_data.dropna(axis=0)

In [47]:
test_dataset.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Survived
0          892       3    1  34.5      0      0   7.8292         2         0
1          893       3    0  47.0      1      0   7.0000         0         1
2          894       2    1  62.0      0      0   9.6875         2         0
3          895       3    1  27.0      0      0   8.6625         0         0
4          896       3    0  22.0      1      1  12.2875         0         1

In [48]:
test_dataset.shape

(331, 9)

## 3.3 构造数据  

以下数据均为剔除NA后的数据。

In [49]:
X_train = np.vstack([train_dataset["Pclass"],train_dataset["Sex"],train_dataset["Age"],\
                     train_dataset["SibSp"],train_dataset["Parch"],train_dataset["Fare"],\
                    train_dataset["Embarked"]]).T

In [50]:
X_train.shape

(712, 7)

In [51]:
y_train = np.vstack([train_dataset["Survived"]]).T

In [52]:
y_train.shape

(712, 1)

In [53]:
X_test = np.vstack([test_dataset["Pclass"],test_dataset["Sex"],test_dataset["Age"],\
                     test_dataset["SibSp"],test_dataset["Parch"],test_dataset["Fare"],\
                    test_dataset["Embarked"]]).T

In [54]:
y_test = np.vstack([test_dataset["Survived"]]).T  # 使用网站的数据

## 3.4 预测

In [55]:
from sklearn import datasets
from sklearn import cross_validation
from sklearn import linear_model
from sklearn import metrics
from sklearn import tree
from sklearn import neighbors
from sklearn import svm
from sklearn import ensemble
from sklearn import cluster

%matplotlib inline
import matplotlib.pyplot as plt

import numpy as np
import seaborn as sns

### 3.4.1 逻辑回归

In [56]:
classifier = linear_model.LogisticRegression()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test)

print(metrics.confusion_matrix(y_test, y_test_pred))
print(metrics.classification_report(y_test,y_test_pred))

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[192  12]
 [  7 120]]
             precision    recall  f1-score   support

          0       0.96      0.94      0.95       204
          1       0.91      0.94      0.93       127

avg / total       0.94      0.94      0.94       331

In [57]:
results = np.array([test_dataset["PassengerId"],y_test_pred]).T

In [58]:
results.shape

(331, 2)

In [59]:
compared_results = pd.Series(results[:,1],results[:,0])

In [60]:
compared_results.to_csv("./logitregres.csv")

以上的数据因为对NA数据行做了删除，导致预测结果数据缺失，提交kaggle失败。

In [61]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
Embarked       418 non-null int64
Survived       418 non-null int64
dtypes: float64(2), int64(7)
memory usage: 29.5 KB

**age和Fare中的na值取平均值。**

In [62]:
test_data['Age'].mean()

30.272590361445783

In [63]:
test_data['Age']=test_data['Age'].fillna(30.272590361445783);

In [64]:
test_data['Fare'].mean()

35.6271884892086

In [65]:
test_data['Fare']=test_data['Fare'].fillna(test_data['Fare'].mean());

In [66]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
Embarked       418 non-null int64
Survived       418 non-null int64
dtypes: float64(2), int64(7)
memory usage: 29.5 KB

#### 重新构造测试集数据

In [67]:
X_test2 = np.vstack([test_data["Pclass"],test_data["Sex"],test_data["Age"],\
                     test_data["SibSp"],test_data["Parch"],test_data["Fare"],\
                    test_data["Embarked"]]).T

In [68]:
X_test2.shape

(418, 7)

In [69]:
classifier = linear_model.LogisticRegression()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test2)

results = np.array([test_data["PassengerId"],y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./logitregres2.csv")

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

**提交结果：74%**

### 3.4.2 DecisionTree

In [434]:
classifier = tree.DecisionTreeClassifier()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test2)

results = np.array([test_data["PassengerId"],y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./decisiontree.csv")
#print(metrics.confusion_matrix(y_test, y_test_pred))
#print(metrics.classification_report(y_test,y_test_pred))

**提交结果：67%**

### 3.4.3 KNN

In [438]:
classifier = neighbors.KNeighborsClassifier()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test2)

results = np.array([test_data["PassengerId"],y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./knn.csv")

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  from ipykernel import kernelapp as app

**提交结果64%**

### 3.4.4 SVM

In [439]:
classifier = svm.SVC()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test2)

results = np.array([test_data["PassengerId"],y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./svm.csv")

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/sklearn/svm/base.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y_ = column_or_1d(y, warn=True)

**提交结果：59%**

### 3.4.5 随机森林

In [440]:
classifier = ensemble.RandomForestClassifier()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test2)

results = np.array([test_data["PassengerId"],y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./randomforest.csv")

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

**提交结果：73%**

## 3.5 小结

逻辑回归的结果较好。 

**可以改进的地方：**
* 训练集中剔除了NA数据，可能会影响模型整体效果，可以考虑对Age数据的NA值取平均值。  
* 港口数据应该考虑距离关系，设置不同值，可能效果会更好。  
* 数据没有标准化，标准化后结果应该会好很多。

# 4.Digit Recognizer

## 4.1 读取并概览数据

In [4]:
train = pd.read_csv("~/下载/train.csv", delimiter=",", encoding=None, header=0)

In [5]:
test = pd.read_csv("~/下载/test.csv", delimiter=",", encoding=None, header=0)

In [450]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 785 entries, label to pixel783
dtypes: int64(785)
memory usage: 251.5 MB

In [453]:
train.shape

(42000, 785)

In [455]:
test.shape

(28000, 784)

In [457]:
test.describe()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,...,28000.000000,28000.000000,28000.000000,28000.000000,28000.000000,28000.0,28000.0,28000.0,28000.0,28000.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.164607,0.073214,0.028036,0.011250,0.006536,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.473293,3.616811,1.813602,1.205211,0.807475,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253.000000,254.000000,193.000000,187.000000,119.000000,0.0,0.0,0.0,0.0,0.0

In [458]:
train

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41970,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41971,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41972,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41973,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41974,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41975,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41976,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41977,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41978,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41979,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41980,7,0,0,0,0,0,0,0,0,0,...,27,253,110,0,0,0,0,0,0,0
41981,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41982,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41983,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41984,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41985,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41987,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41988,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41989,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41990,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41991,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41992,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41993,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41994,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 4.2 构造数据

In [6]:
X_train = np.array(train)[:,1:]

In [7]:
X_train.shape

(42000, 784)

In [8]:
y_train = np.array(train)[:,0]

In [9]:
y_train.shape

(42000,)

In [11]:
X_test = np.array(test)

In [139]:
X_test.shape

(28000, 784)

## 4.3 直接预测

In [476]:
train.index.shape

(42000,)

### 4.3.1 LogisticRegression

In [ ]:
classifier = linear_model.LogisticRegression()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test)

In [519]:
results = np.array([np.array(test.index+1),y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./Digit_Recognizer_Output/logitregres.csv")

**提交结果：91%**

### 4.3.2 SVM

In [183]:
X_train.shape

(42000, 784)

In [184]:
y_train.shape

(42000,)

In [185]:
X_test.shape

(28000, 784)

In [186]:
classifier = svm.SVC()
classifier.fit(X_train, y_train)
y_test_pred_svm = classifier.predict(X_test)

In [187]:
results = np.array([np.array(test.index+1),y_test_pred_svm]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./Digit_Recognizer_Output/svm.csv")

**提交结果，网站限制，放弃测试**

### 4.3.3 KNN

In [188]:
classifier = neighbors.KNeighborsClassifier()
classifier.fit(X_train, y_train)
y_test_pred_knn = classifier.predict(X_test)

In [189]:
results = np.array([np.array(test.index+1),y_test_pred_knn]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./Digit_Recognizer_Output/knn.csv")

**提交结果：97%**

### 4.3.4 RandomForest

In [190]:
classifier = ensemble.RandomForestClassifier()
classifier.fit(X_train, y_train)
y_test_pred_rf = classifier.predict(X_test)

In [191]:
results = np.array([np.array(test.index+1),y_test_pred_rf]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./Digit_Recognizer_Output/randomforest.csv")

**提交结果：94%**

### 4.3.5 DecisionTree

In [192]:
classifier = tree.DecisionTreeClassifier()
classifier.fit(X_train, y_train)
y_test_pred_dt = classifier.predict(X_test)

In [193]:
results = np.array([np.array(test.index+1),y_test_pred_dt]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./Digit_Recognizer_Output/decisiontree.csv")

**提交结果：86%**

## 4.4 特征工程

In [12]:
from sklearn.ensemble import ExtraTreesClassifier
model = ExtraTreesClassifier()
model.fit(X_train, y_train)

print(model.feature_importances_);

[  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   4.44010189e-06
   3.22373049e-06   7.43616072e-06   3.70488430e-06   1.84538741e-05
   9.96875764e-06   1.45656591e-05   0.00000000e+00   4.37849962e-06
   4.39549765e-06   3.26382664e-06   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   3.40244476e-06   0.00000000e+00
   4.70642445e-06   1.59454721e-05   3.49512638e-05   5.00604672e-05
   7.29234004e-05   9.57109570e-05   8.40076019e-05   8.95383864e-04
   8.92779930e-05   1.14946215e-04   4.14381780e-05   9.08525194e-05
   1.20570023e-05   5.57927172e-05   1.51022448e-05   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   2.64634593e-06   1.01042299e-05   1.34690846e-05
   8.13324108e-05   1.30395420e-04   2.87594068e-04   2.23127794e-04
   1.03643104e-03   3.72566645e-04   7.45395723e-04   9.13718625e-04
   7.76474845e-04   5.27145789e-04   1.07477352e-03   3.51739158e-04
   2.16279406e-04   9.55948780e-05   6.92650813e-05   8.19430955e-05
   4.92223379e-06   8.06433825e-06   4.37849962e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   4.28606216e-05   4.38964385e-05   5.70886754e-05
   9.38300346e-05   4.20901166e-04   5.67208961e-04   1.14341783e-03
   1.23915147e-03   1.52297462e-03   2.84893157e-03   2.21475623e-03
   2.19509417e-03   2.35510809e-03   8.46451024e-04   5.95675568e-04
   5.80198360e-04   2.17705833e-04   1.92530377e-04   1.63482814e-04
   5.67798631e-05   3.17561511e-06   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   2.60031165e-05   5.87506911e-05   1.30931451e-04   2.89714078e-04
   7.51146042e-04   9.00416361e-04   1.77525797e-03   2.77919259e-03
   3.03451664e-03   4.78381669e-03   9.93617939e-03   6.03071631e-03
   2.57967439e-03   2.17458781e-03   1.57172580e-03   1.29742199e-03
   1.46712486e-03   8.68258540e-04   6.16535466e-04   3.36181073e-04
   1.36022457e-04   1.51146405e-05   6.61586481e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   2.23666035e-05
   9.52911207e-05   1.79234145e-04   1.83545908e-04   4.06883919e-04
   9.19953222e-04   1.30319235e-03   2.07369275e-03   1.50866250e-03
   1.75231119e-03   3.30691925e-03   6.62481143e-03   2.68246214e-03
   2.51296124e-03   2.33726282e-03   1.80198398e-03   2.07008010e-03
   2.79772998e-03   1.23301457e-03   1.02379546e-03   1.11282539e-03
   2.53819294e-04   1.30046783e-04   0.00000000e+00   5.10366714e-06
   0.00000000e+00   0.00000000e+00   4.81153805e-06   3.24553567e-05
   8.00129339e-05   2.62329888e-04   4.10233950e-04   8.01019066e-04
   1.08684265e-03   1.24427286e-03   4.89464285e-03   1.43318264e-03
   3.15832287e-03   3.32047861e-03   4.71789388e-03   6.00641481e-03
   4.29505440e-03   2.98229571e-03   3.33578943e-03   1.26846286e-03
   1.60769755e-03   1.00019687e-03   1.09226153e-03   9.02535743e-04
   1.21551902e-03   1.20251416e-04   2.72138143e-05   3.52846123e-06
   0.00000000e+00   0.00000000e+00   2.39746663e-05   5.32013411e-05
   1.03325398e-04   2.11117220e-04   3.42427703e-04   6.56478254e-04
   1.16062164e-03   1.14495924e-03   2.02437766e-03   3.18304615e-03
   3.35393344e-03   4.43231436e-03   5.05164917e-03   4.91101524e-03
   3.92215636e-03   3.50822879e-03   2.13804811e-03   3.57462431e-03
   2.92562847e-03   1.59626446e-03   1.07035392e-03   1.01208374e-03
   7.55482290e-04   2.23695414e-04   3.49495429e-05   4.19004772e-06
   0.00000000e+00   7.52375892e-06   2.20512273e-05   4.63148665e-05
   1.03348779e-04   5.22773416e-04   5.61109789e-04   5.97540573e-04
   1.53282108e-03   2.35245600e-03   3.08563552e-03   3.99524464e-03
   3.36494861e-03   2.76765667e-03   4.91069168e-03   3.76548440e-03
   3.60073833e-03   3.59770557e-03   3.75106393e-03   2.49021807e-03
   1.88512676e-03   1.37673786e-03   1.06834655e-03   4.99154001e-04
   7.12904209e-04   1.72735849e-04   1.62541279e-05   5.15094654e-06
   0.00000000e+00   0.00000000e+00   4.01621911e-06   4.15613003e-05
   1.87014811e-04   2.46063808e-04   3.70633912e-04   1.03814049e-03
   1.42876493e-03   3.38121680e-03   3.61832914e-03   8.95859459e-03
   3.44255932e-03   3.47224049e-03   3.00805611e-03   6.15865103e-03
   4.02287548e-03   3.51348879e-03   3.82662544e-03   2.45178855e-03
   2.36545725e-03   1.24252147e-03   1.06648396e-03   4.14376463e-04
   2.97859381e-04   8.23444234e-05   3.50211603e-05   0.00000000e+00
   0.00000000e+00   0.00000000e+00   4.41057654e-06   6.70527765e-05
   1.18595992e-04   3.59565172e-04   5.82335091e-04   1.03389367e-03
   1.94834846e-03   3.26982159e-03   4.40311932e-03   4.79351065e-03
   3.39431384e-03   2.82577319e-03   4.53578742e-03   3.99570188e-03
   4.55647697e-03   2.97546835e-03   4.28460300e-03   2.02550340e-03
   1.76801872e-03   1.26895265e-03   6.06456218e-04   4.58559254e-04
   1.17058092e-04   4.25420802e-05   1.37370095e-05   0.00000000e+00
   0.00000000e+00   0.00000000e+00   1.41693191e-05   3.78444524e-05
   1.02812026e-04   2.96470575e-04   8.86275368e-04   1.38925392e-03
   2.42850292e-03   3.97939433e-03   6.56723873e-03   4.95213014e-03
   3.39205083e-03   4.24958384e-03   5.08150720e-03   5.95334684e-03
   3.13955335e-03   3.32379925e-03   2.94093922e-03   2.21987496e-03
   1.69530356e-03   2.83437197e-03   4.88882796e-03   2.45333761e-04
   1.03004784e-04   2.04246882e-05   2.98093974e-05   3.88130736e-06
   0.00000000e+00   5.01412912e-06   3.43825838e-05   5.06416207e-05
   1.02168948e-04   3.61465104e-04   8.73979672e-04   2.58855532e-03
   2.04647526e-03   5.38746689e-03   4.78102761e-03   4.20619559e-03
   3.94696341e-03   5.92476585e-03   1.88144500e-02   3.79211659e-03
   2.35676340e-03   8.11423513e-03   5.50348496e-03   1.46500891e-03
   1.67558825e-03   1.25270681e-03   9.72387283e-04   5.68902535e-04
   8.05849853e-04   4.56339110e-05   1.68620297e-05   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   1.66333400e-05
   1.46909402e-04   2.64218198e-04   3.20062835e-03   4.31207134e-03
   5.11435341e-03   5.07873932e-03   5.28592927e-03   7.89905947e-03
   4.60294782e-03   4.90848604e-03   5.57733348e-03   3.56078351e-03
   4.24623233e-03   7.13739485e-03   2.44458361e-03   1.40798915e-03
   1.64719380e-03   1.02354170e-03   1.24573398e-03   1.86168211e-03
   1.90689929e-04   2.86980963e-05   2.89868051e-05   0.00000000e+00
   0.00000000e+00   0.00000000e+00   4.69073901e-06   2.87616730e-05
   1.09818742e-04   3.28536575e-04   7.99149683e-04   2.91797818e-03
   3.11181820e-03   2.92847707e-03   4.24492895e-03   2.24348761e-03
   5.31982344e-03   8.22119586e-03   3.37762668e-03   3.70220011e-03
   2.33701270e-03   6.45326123e-03   2.46413178e-03   2.58282483e-03
   1.32043867e-03   1.02269831e-03   2.90404939e-03   5.41420058e-04
   1.79672296e-04   3.88727745e-05   5.15231813e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   1.58780756e-06   5.43136384e-05
   1.57326062e-04   1.05868500e-03   1.27234828e-03   3.84907885e-03
   2.05779837e-03   5.37069903e-03   9.02672507e-03   3.78505967e-03
   4.82557820e-03   5.74562326e-03   8.44980323e-03   2.79191532e-03
   5.98747345e-03   6.07653921e-03   1.51156662e-03   1.31416874e-03
   1.10339773e-03   1.24748033e-03   4.89370923e-04   4.07106306e-04
   1.74748468e-04   9.69202601e-05   2.09842354e-05   3.53868866e-06
   0.00000000e+00   0.00000000e+00   0.00000000e+00   3.52362284e-05
   1.59634386e-04   5.65363183e-04   1.26643345e-03   1.00863684e-03
   5.09327360e-03   3.24343982e-03   5.29625731e-03   3.85307950e-03
   4.61538400e-03   1.47848182e-02   5.63494531e-03   2.73204857e-03
   3.53826624e-03   1.18884248e-03   1.25487110e-03   2.00502016e-03
   1.58294404e-03   1.23124188e-03   4.02683407e-04   3.59134992e-04
   2.59251760e-04   7.85621502e-05   1.18023233e-05   1.10143026e-05
   0.00000000e+00   0.00000000e+00   9.90635237e-06   8.69285634e-05
   2.07171044e-04   4.76577663e-04   9.07233032e-04   4.91239451e-03
   5.33562891e-03   4.64437184e-03   4.07614313e-03   5.73777772e-03
   3.81505396e-03   2.57001085e-03   4.67154639e-03   1.80334382e-03
   1.28101984e-03   1.15008797e-03   2.06088728e-03   3.32094024e-03
   1.25011226e-03   7.10611979e-04   6.02560758e-04   3.39137212e-04
   2.98081132e-04   4.66426013e-05   4.96789956e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   4.43429729e-06   7.28320862e-05
   2.13770460e-04   5.19847454e-04   1.10473719e-03   4.75252949e-03
   2.60559083e-03   3.92621447e-03   1.12670668e-02   5.07698420e-03
   4.33361399e-03   3.20187306e-03   1.42397141e-03   1.20983295e-03
   3.10443881e-03   1.20372781e-03   2.15028798e-03   7.32496702e-04
   2.22803113e-03   5.69336716e-04   8.01157890e-04   2.84063408e-04
   1.72996145e-04   1.92262363e-05   5.12357054e-06   4.51235908e-06
   0.00000000e+00   0.00000000e+00   1.11674123e-05   9.26506284e-05
   2.95557296e-04   5.90189136e-04   7.33130439e-04   7.55980298e-03
   3.27534530e-03   2.05301113e-03   6.64217192e-03   2.76337452e-03
   3.19020578e-03   1.61516020e-03   2.14007338e-03   3.06835413e-03
   1.14713563e-03   3.60576261e-03   2.22036304e-03   1.44280091e-03
   9.49267765e-04   5.70980200e-04   8.89317140e-04   3.03856776e-04
   1.30487266e-04   4.60008250e-05   7.92440526e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   8.63242401e-06   3.24975510e-05
   2.01928990e-04   4.52121791e-04   6.41777500e-04   4.66586310e-03
   1.97713654e-03   4.73069975e-03   2.09584975e-03   1.60749875e-03
   1.18217823e-03   2.04316396e-03   1.46708165e-03   1.32256676e-03
   1.11826552e-03   1.45119379e-03   9.88738987e-04   9.32818586e-04
   7.77827278e-04   5.83278174e-04   3.65357066e-04   2.18633648e-04
   4.70039827e-05   4.23203543e-05   4.39969656e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   6.58825542e-05
   2.81979680e-04   3.86444852e-04   6.83018582e-04   1.47414849e-03
   1.99353925e-03   4.18811824e-03   3.82291833e-03   2.33640688e-03
   2.27978946e-03   4.09598046e-03   2.73178198e-03   1.21215843e-03
   1.20830790e-03   9.36122565e-04   8.99316232e-04   5.13489103e-04
   4.56846201e-04   3.19120698e-04   2.54318463e-04   1.04396687e-04
   4.72599364e-05   1.97117234e-05   4.23415348e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   3.04657580e-05
   1.05281398e-04   2.08555744e-04   3.24742690e-04   5.03056230e-04
   2.77311632e-03   2.40802173e-03   3.61890108e-03   4.78226881e-03
   4.88112354e-03   2.69547665e-03   4.41095464e-03   1.28785814e-03
   1.58811714e-03   1.00018139e-03   6.50736695e-04   4.73475880e-04
   2.62118421e-04   1.83115005e-04   1.02558353e-04   6.67952165e-05
   1.18205942e-05   1.47793372e-05   2.91098052e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   2.64634593e-06   2.37323216e-05
   1.01598520e-04   1.65953980e-04   2.20776410e-04   4.03031820e-04
   7.75117310e-04   1.08959924e-03   6.60020421e-04   9.60321609e-04
   3.29915432e-03   8.76915813e-04   7.79439476e-04   5.81608372e-04
   6.29384473e-04   7.58809794e-04   4.11422801e-04   3.57671873e-04
   1.48028022e-04   1.22136553e-04   6.43306068e-05   3.08797003e-05
   1.34275098e-05   3.74899006e-06   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   4.34882847e-06
   1.88553276e-05   8.12999751e-05   1.53957163e-04   3.01399523e-04
   6.42048458e-04   3.42640907e-04   6.28473477e-04   1.35685651e-03
   1.03059461e-03   6.47983277e-04   5.98482188e-04   4.40099449e-04
   4.49046061e-04   4.39270834e-04   3.27878167e-04   1.88230123e-04
   1.91803507e-04   6.59076855e-05   2.45166920e-05   1.98847766e-05
   3.52846123e-06   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   9.08681550e-06   3.96951889e-06   2.14265832e-05   3.47844817e-05
   4.34682756e-05   7.25243162e-05   1.01811482e-04   1.18162176e-04
   1.69226752e-04   1.83779852e-04   1.38900561e-04   1.58685815e-04
   1.46787311e-04   1.03445634e-04   6.73216989e-05   5.20017244e-05
   1.39668257e-05   1.00400391e-05   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   6.04879069e-06
   7.59396267e-06   3.96951889e-06   1.60155818e-05   4.51271621e-06
   3.52846123e-06   7.23194535e-06   0.00000000e+00   3.52846123e-06
   0.00000000e+00   1.55899010e-05   0.00000000e+00   8.35699241e-06
   0.00000000e+00   4.50343079e-06   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00]

In [13]:
features = model.feature_importances_

In [14]:
features.shape

(784,)

In [15]:
features.mean()

0.0012755102040816326

In [16]:
features = pd.DataFrame(np.array([features]).T, index=test.columns, columns=['importance'])

In [17]:
features.head()

        importance
pixel0         0.0
pixel1         0.0
pixel2         0.0
pixel3         0.0
pixel4         0.0

In [18]:
features["importance"].sort_values(axis=0, ascending=False).head(78)

pixel378    0.018814
pixel489    0.014785
pixel542    0.011267
pixel154    0.009936
pixel458    0.009027
pixel291    0.008959
pixel462    0.008450
pixel433    0.008221
pixel381    0.008114
pixel403    0.007899
pixel567    0.007560
pixel409    0.007137
pixel570    0.006642
pixel182    0.006625
pixel346    0.006567
pixel437    0.006453
pixel295    0.006159
pixel465    0.006077
pixel155    0.006031
pixel211    0.006006
pixel464    0.005987
pixel351    0.005953
pixel377    0.005925
pixel461    0.005746
pixel515    0.005738
pixel490    0.005635
pixel406    0.005577
pixel382    0.005503
pixel373    0.005387
pixel457    0.005371
              ...
pixel460    0.004826
pixel319    0.004794
pixel153    0.004784
pixel655    0.004782
pixel374    0.004781
pixel539    0.004753
pixel597    0.004731
pixel210    0.004718
pixel518    0.004672
pixel595    0.004666
pixel513    0.004644
pixel488    0.004615
pixel404    0.004603
pixel324    0.004556
pixel322    0.004536
pixel237    0.004432
pixel658    0.004411
pixel318    0.004403
pixel544    0.004334
pixel399    0.004312
pixel212    0.004295
pixel326    0.004285
pixel349    0.004250
pixel408    0.004246
pixel430    0.004245
pixel375    0.004206
pixel625    0.004188
pixel629    0.004096
pixel514    0.004076
pixel296    0.004023
Name: importance, dtype: float64

In [19]:
index_columns = features["importance"].sort_values(axis=0, ascending=False).head(78).index # 选择十分之一

In [20]:
X_train_features = np.array(train[index_columns])[:]

In [25]:
train.index

RangeIndex(start=0, stop=42000, step=1)

In [21]:
index_columns

Index([u'pixel378', u'pixel489', u'pixel542', u'pixel154', u'pixel458',
       u'pixel291', u'pixel462', u'pixel433', u'pixel381', u'pixel403',
       u'pixel567', u'pixel409', u'pixel570', u'pixel182', u'pixel346',
       u'pixel437', u'pixel295', u'pixel465', u'pixel155', u'pixel211',
       u'pixel464', u'pixel351', u'pixel377', u'pixel461', u'pixel515',
       u'pixel490', u'pixel406', u'pixel382', u'pixel373', u'pixel457',
       u'pixel512', u'pixel432', u'pixel486', u'pixel402', u'pixel400',
       u'pixel484', u'pixel350', u'pixel401', u'pixel543', u'pixel238',
       u'pixel347', u'pixel511', u'pixel239', u'pixel266', u'pixel405',
       u'pixel206', u'pixel358', u'pixel656', u'pixel460', u'pixel319',
       u'pixel153', u'pixel655', u'pixel374', u'pixel539', u'pixel597',
       u'pixel210', u'pixel518', u'pixel595', u'pixel513', u'pixel488',
       u'pixel404', u'pixel324', u'pixel322', u'pixel237', u'pixel658',
       u'pixel318', u'pixel544', u'pixel399', u'pixel212', u'pixel326',
       u'pixel349', u'pixel408', u'pixel430', u'pixel375', u'pixel625',
       u'pixel629', u'pixel514', u'pixel296'],
      dtype='object')

In [143]:
X_train_features.shape

(42000, 78)

In [146]:
y_train.shape

(42000,)

In [147]:
test.shape

(28000, 784)

In [148]:
X_test_features = np.array(test[index_columns])[:]

In [151]:
X_test_features.shape

(28000, 78)

### 标准化

In [155]:
from sklearn import preprocessing

standardized_X_train_features = preprocessing.scale(X_train_features)
standardized_X_test_features = preprocessing.scale(X_test_features)

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)
/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [154]:
standardized_X_train_features.shape

(42000, 78)

In [156]:
standardized_X_test_features.shape

(28000, 78)

## 另一种确定特征工程的方法

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
# create the RFE model and select 3 attributes
rfe = RFE(model, 3)
rfe = rfe.fit(X_train, y_train)
# summarize the selection of the attributes
print(rfe.support_)
print(rfe.ranking_)

## 4.5 重新预测

In [161]:
from sklearn.naive_bayes import GaussianNB

classifiers = [tree.DecisionTreeClassifier,
               neighbors.KNeighborsClassifier,
               svm.SVC,
               GaussianNB,
               ensemble.RandomForestClassifier,
               linear_model.LogisticRegression]

In [173]:
y_test_pred = np.zeros([len(standardized_X_test_features), len(classifiers)])

for i,Classifier in enumerate(classifiers):
    classifier = Classifier()
    classifier.fit(standardized_X_train_features, y_train)
    y_test_pred[:,i] = classifier.predict(standardized_X_test_features)

In [175]:
y_test_pred.shape

(28000, 6)

In [176]:
results = np.array([np.array(test.index+1),y_test_pred[:,0]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/decisiontree.csv")

In [177]:
results = np.array([np.array(test.index+1),y_test_pred[:,1]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/knn.csv")

In [178]:
results = np.array([np.array(test.index+1),y_test_pred[:,2]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/svm.csv")

In [179]:
results = np.array([np.array(test.index+1),y_test_pred[:,3]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/bayes.csv")

In [180]:
results = np.array([np.array(test.index+1),y_test_pred[:,4]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/radomforest.csv")

In [181]:
results = np.array([np.array(test.index+1),y_test_pred[:,5]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/logisregression.csv")

### 提交结果：

* Bayes: 79%  
* DecisionTree: 50%
* KNN: 95%  
* LogisRegression: 85%  
* RandomForest: 90%  
* SVM: 1.5% 

说明：后面两种方法超过了网站的限制，暂时未能测试，测试后补充。

## 4.6 小结  

* 特征工程的选择可以极大提高运算速度，数据集过大时，最好提取特征工程。  
* 特征工程选择时要注意，本题中，选择了前1/10，发现最小的重要性比平均值还大很多，可能会损失一些特征，影响最终结果。  
* 在计算时需要注意先对数据标准化。  


说明：直接预测时，除逻辑回归外，其他算法还在运行中（速度太慢），运行完后更新。