In [2]:
from pandas_datareader import data, wb

In [3]:
import datetime

In [4]:
start = datetime.datetime(2015,5,29)

In [13]:
end = datetime.datetime(2016,6,3)

In [9]:
sh = data.DataReader("000001.SS", 'yahoo', start, end)

In [14]:
kd = data.DataReader("002230.SZ", 'yahoo', start, end)

In [15]:
kd.tail()

             Open   High    Low  Close    Volume  Adj Close
Date
2016-05-30  27.22  27.30  26.71  26.88  17024700      26.88
2016-05-31  27.11  29.26  27.11  29.03  41050200      29.03
2016-06-01  29.06  29.86  29.06  29.36  43255500      29.36
2016-06-02  29.22  29.58  29.00  29.47  27318800      29.47
2016-06-03  29.56  32.20  29.56  31.01  64923800      31.01

In [1]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.graphics.api as smg
import patsy
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

In [6]:
from collections import defaultdict

In [7]:
data = defaultdict(lambda: np.array([1,2,3]))

In [8]:
patsy.dmatrices("y ~ a * b * c - a:b:c",data=data)

(DesignMatrix with shape (3, 1)
   y
   1
   2
   3
   Terms:
     'y' (column 0),
 DesignMatrix with shape (3, 7)
   Intercept  a  b  a:b  c  a:c  b:c
           1  1  1    1  1    1    1
           1  2  2    4  2    4    4
           1  3  3    9  3    9    9
   Terms:
     'Intercept' (column 0)
     'a' (column 1)
     'b' (column 2)
     'a:b' (column 3)
     'c' (column 4)
     'a:c' (column 5)
     'b:c' (column 6))

In [11]:
patsy.dmatrices("y ~ 1+x1*x2",data=data)

(DesignMatrix with shape (3, 1)
   y
   1
   2
   3
   Terms:
     'y' (column 0),
 DesignMatrix with shape (3, 4)
   Intercept  x1  x2  x1:x2
           1   1   1      1
           1   2   2      4
           1   3   3      9
   Terms:
     'Intercept' (column 0)
     'x1' (column 1)
     'x2' (column 2)
     'x1:x2' (column 3))