* 写一个函数，能将一个多类别变量转为多个二元虚拟变量，不能使用sklearn库。  
* 写一个函数，实现交叉验证的功能，不能使用sklearn库。  
  给一组数据，最后分成两组。输入一个大矩阵，输出两个小矩阵。
* 使用sklearn库中的其他分类方法，来预测titanic的生存情况。  
  用其他分类方法看看效果如何。  
* 研究kaggle中的Digit Recognizer数据，尝试用一些特征工程来提取数字的特征，并放入分类器中观察预测准确率，相对直接使用原始变量是否有提升。  
  用图像识别对应数字。用两大类方式做，一种原始数据扔进去做；另一种方式用特征工程。

# 1.多类别变量转为二元虚拟变量

## 1.1 基本思想  

我们将采用一对多方法，将多个类中的一个类标记为正向类(y=1)，然后将其他所有类都标记为负向类，模型记为：$h^{(1)}_\theta(x)$。  
接着，类似地选择另一个类标记为正向类(y=2)，再将其他类都标记为负向类，将整个模型记为：$h^{(2)}_\theta(x)$，以此类推。  

最后得到一系列的模型：$h^i_\theta(x)=p(y=i|x;\theta)，其中i=(1,2,3...k)$。  
需要预测时，我们将所有的分类机都运行一遍，然后对每一个输入变量都选择最高可能性的输出变量。

对于本题目，处理思路类似：  
我们将$n$个类别的数据转换为$n$组数据，分别用$smf.logit$去拟合。

## 1.2 Python实现

In [177]:
def one_vs_all(dataset):
    
    import numpy as np
    
    X = dataset.data
    target = dataset.target
    n = dataset.target_names.shape[0]
    targets = np.zeros((len(target), n))
    
    for i in (range(n+1)[1:]):
        targets[:,i-1] = np.array((map(lambda x: i if x==(i-1) else -i,target)))
    return X, targets

In [178]:
from sklearn import datasets
dataset = datasets.load_iris()

In [181]:
X,y = one_vs_all(dataset)

In [183]:
X.shape

(150, 4)

In [185]:
y.shape

(150, 3)

# 2.交叉验证

将数据分为训练集和测试集，由用户确定拆分比例，输入一个矩阵，输出拆分后的两个矩阵。

In [227]:
def my_cross_validation(data, target, train_size): # train_size 表示训练集的比例

    n = int(round(train_size*len(target)))
    X_train = data[0:n,:]
    X_test = data[n:,:]
    y_train = target[0:n]
    y_test = target[n:]
    
    return X_train, X_test, y_train, y_test

In [231]:
X_train, X_test, y_train, y_test = my_cross_validation(dataset.data,dataset.target,0.68)

In [232]:
X_train.shape, X_test.shape

((102, 4), (48, 4))

In [233]:
y_train.shape, y_test.shape

((102,), (48,))

# 3.Titanic

In [3]:
import pandas as pd

## 3.1 读取并预览数据

In [292]:
train = pd.read_csv("~/Data102/assignment/7w/train.csv", delimiter=",", encoding=None, header=0)

In [293]:
test = pd.read_csv("~/Data102/assignment/7w/test.csv", delimiter=",", encoding=None, header=0)

In [326]:
gendermodel = pd.read_csv("~/Data102/assignment/7w/gendermodel.csv", delimiter=",", encoding=None, header=0)

In [294]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [295]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [296]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [297]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

## 3.2 数据预处理  

#### 处理原则：  
* 尽可能保留指标，不随意剔除。  
* 剔除缺失数据较多的指标，以及明显与存活率无太多相关性的指标。  

#### 处理如下：  
* 剔除id,name和Embarked，与结果没太多关系。剔除ticket，不好标准化，用票价可以代替。  
* 考虑到Cabin数据缺失太多，可以考虑使用Embarked数据，因为Embarked和票价数据在一定程度上可以说明Cabin。
* 剔除无年龄、无Embarked数据的行。  
* 将sex设为0和1。

In [298]:
train_data = train.drop(train.columns[[3,8,10]],axis=1)

In [321]:
train_data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500       0.0
1            2         1       1    0  38.0      1      0  71.2833       1.0
2            3         1       3    0  26.0      0      0   7.9250       0.0
3            4         1       1    0  35.0      1      0  53.1000       0.0
4            5         0       3    1  35.0      0      0   8.0500       0.0

In [300]:
test_data = test.drop(test.columns[[2,7,9]],axis=1)

In [301]:
test_data.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [302]:
train_data.Sex = train_data.Sex.map({"male":1, "female":0})
test_data.Sex = test_data.Sex.map({"male":1, "female":0})
#train_data["Sex"] = train_data["Sex"].apply(lambda x: x == "male",1,0)
#test_data["Sex"] = test_data["Sex"].apply(lambda x: x == "male",1,0)

In [303]:
train_data.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [304]:
test_data.Embarked.value_counts()

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [305]:
train_data.Embarked = train_data.Embarked.map({"S":0, "C":1, "Q":2})
test_data.Embarked = test_data.Embarked.map({"S":0, "C":1, "Q":2})

In [306]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null float64
dtypes: float64(3), int64(6)
memory usage: 62.7 KB

In [339]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
Embarked       418 non-null int64
Survived       418 non-null int64
dtypes: float64(2), int64(7)
memory usage: 29.5 KB

In [334]:
train_dataset = train_data.dropna(axis=0)

In [335]:
train_dataset.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500       0.0
1            2         1       1    0  38.0      1      0  71.2833       1.0
2            3         1       3    0  26.0      0      0   7.9250       0.0
3            4         1       1    0  35.0      1      0  53.1000       0.0
4            5         0       3    1  35.0      0      0   8.0500       0.0

In [310]:
train_dataset.shape

(712, 9)

In [332]:
test_data.shape

(418, 9)

In [331]:
gendermodel.shape

(418, 2)

In [328]:
test_data["Survived"] = gendermodel["Survived"]

In [333]:
test_data.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Survived
0          892       3    1  34.5      0      0   7.8292         2         0
1          893       3    0  47.0      1      0   7.0000         0         1
2          894       2    1  62.0      0      0   9.6875         2         0
3          895       3    1  27.0      0      0   8.6625         0         0
4          896       3    0  22.0      1      1  12.2875         0         1

In [336]:
test_dataset = test_data.dropna(axis=0)

In [337]:
test_dataset.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Survived
0          892       3    1  34.5      0      0   7.8292         2         0
1          893       3    0  47.0      1      0   7.0000         0         1
2          894       2    1  62.0      0      0   9.6875         2         0
3          895       3    1  27.0      0      0   8.6625         0         0
4          896       3    0  22.0      1      1  12.2875         0         1

In [338]:
test_dataset.shape

(331, 9)

## 3.3 构造数据  

以下数据均为剔除NA后的数据。

In [314]:
X_train = np.vstack([train_dataset["Pclass"],train_dataset["Sex"],train_dataset["Age"],\
                     train_dataset["SibSp"],train_dataset["Parch"],train_dataset["Fare"],\
                    train_dataset["Embarked"]]).T

In [315]:
X_train.shape

(712, 7)

In [316]:
y_train = np.vstack([train_dataset["Survived"]]).T

In [317]:
y_train.shape

(712, 1)

In [318]:
X_test = np.vstack([test_dataset["Pclass"],test_dataset["Sex"],test_dataset["Age"],\
                     test_dataset["SibSp"],test_dataset["Parch"],test_dataset["Fare"],\
                    test_dataset["Embarked"]]).T

In [340]:
y_test = np.vstack([test_dataset["Survived"]]).T  # 使用网站的数据

## 3.4 预测

In [159]:
from sklearn import datasets
from sklearn import cross_validation
from sklearn import linear_model
from sklearn import metrics
from sklearn import tree
from sklearn import neighbors
from sklearn import svm
from sklearn import ensemble
from sklearn import cluster

%matplotlib inline
import matplotlib.pyplot as plt

import numpy as np
import seaborn as sns

### 3.4.1 逻辑回归

In [423]:
classifier = linear_model.LogisticRegression()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test)

print(metrics.confusion_matrix(y_test, y_test_pred))
print(metrics.classification_report(y_test,y_test_pred))

[[192  12]
 [  7 120]]
             precision    recall  f1-score   support

          0       0.96      0.94      0.95       204
          1       0.91      0.94      0.93       127

avg / total       0.94      0.94      0.94       331

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [367]:
results = np.array([test_dataset["PassengerId"],y_test_pred]).T

In [375]:
results.shape

(331, 2)

In [376]:
compared_results = pd.Series(results[:,1],results[:,0])

In [379]:
compared_results.to_csv("./logitregres.csv")

以上的数据因为对NA数据行做了删除，导致预测结果数据缺失，提交kaggle失败。

In [380]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
Embarked       418 non-null int64
Survived       418 non-null int64
dtypes: float64(2), int64(7)
memory usage: 29.5 KB

**age和Fare中的na值取平均值。**

In [399]:
test_data['Age'].mean()

30.272590361445783

In [403]:
test_data['Age']=test_data['Age'].fillna(30.272590361445783);

In [405]:
test_data['Fare'].mean()

35.6271884892086

In [406]:
test_data['Fare']=test_data['Fare'].fillna(test_data['Fare'].mean());

In [407]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
Embarked       418 non-null int64
Survived       418 non-null int64
dtypes: float64(2), int64(7)
memory usage: 29.5 KB

#### 重新构造测试集数据

In [408]:
X_test2 = np.vstack([test_data["Pclass"],test_data["Sex"],test_data["Age"],\
                     test_data["SibSp"],test_data["Parch"],test_data["Fare"],\
                    test_data["Embarked"]]).T

In [409]:
X_test2.shape

(418, 7)

In [435]:
classifier = linear_model.LogisticRegression()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test2)

results = np.array([test_data["PassengerId"],y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./logitregres2.csv")

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

**提交结果：74%**

### 3.4.2 DecisionTree

In [434]:
classifier = tree.DecisionTreeClassifier()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test2)

results = np.array([test_data["PassengerId"],y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./decisiontree.csv")
#print(metrics.confusion_matrix(y_test, y_test_pred))
#print(metrics.classification_report(y_test,y_test_pred))

**提交结果：67%**

### 3.4.3 KNN

In [438]:
classifier = neighbors.KNeighborsClassifier()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test2)

results = np.array([test_data["PassengerId"],y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./knn.csv")

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  from ipykernel import kernelapp as app

**提交结果64%**

### 3.4.4 SVM

In [439]:
classifier = svm.SVC()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test2)

results = np.array([test_data["PassengerId"],y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./svm.csv")

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/sklearn/svm/base.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y_ = column_or_1d(y, warn=True)

**提交结果：59%**

### 3.4.5 随机森林

In [440]:
classifier = ensemble.RandomForestClassifier()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test2)

results = np.array([test_data["PassengerId"],y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./randomforest.csv")

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

**提交结果：73%**

## 3.5 小结

逻辑回归的结果较好。 

**可以改进的地方：**
* 训练集中剔除了NA数据，可能会影响模型整体效果，可以考虑对Age数据的NA值取平均值。  
* 港口数据应该考虑距离关系，设置不同值，可能效果会更好。  
* 数据没有标准化，标准化后结果应该会好很多。

# 4.Digit Recognizer

## 4.1 读取并概览数据

In [4]:
train = pd.read_csv("~/下载/train.csv", delimiter=",", encoding=None, header=0)

In [5]:
test = pd.read_csv("~/下载/test.csv", delimiter=",", encoding=None, header=0)

In [450]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 785 entries, label to pixel783
dtypes: int64(785)
memory usage: 251.5 MB

In [453]:
train.shape

(42000, 785)

In [455]:
test.shape

(28000, 784)

In [457]:
test.describe()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,28000.0,...,28000.000000,28000.000000,28000.000000,28000.000000,28000.000000,28000.0,28000.0,28000.0,28000.0,28000.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.164607,0.073214,0.028036,0.011250,0.006536,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.473293,3.616811,1.813602,1.205211,0.807475,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,253.000000,254.000000,193.000000,187.000000,119.000000,0.0,0.0,0.0,0.0,0.0

In [458]:
train

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41970,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41971,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41972,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41973,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41974,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41975,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41976,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41977,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41978,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41979,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41980,7,0,0,0,0,0,0,0,0,0,...,27,253,110,0,0,0,0,0,0,0
41981,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41982,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41983,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41984,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41985,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41986,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41987,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41988,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41989,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41990,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41991,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41992,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41993,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41994,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41996,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41997,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41999,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 4.2 构造数据

In [134]:
X_train = np.array(train)[:,1:]

In [135]:
X_train.shape

(42000, 784)

In [136]:
y_train = np.array(train)[:,0]

In [137]:
y_train.shape

(42000,)

In [138]:
X_test = np.array(test)

In [139]:
X_test.shape

(28000, 784)

## 4.3 直接预测

In [476]:
train.index.shape

(42000,)

### 4.3.1 LogisticRegression

In [ ]:
classifier = linear_model.LogisticRegression()
classifier.fit(X_train, y_train)
y_test_pred = classifier.predict(X_test)

In [519]:
results = np.array([np.array(test.index+1),y_test_pred]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./Digit_Recognizer_Output/logitregres.csv")

**提交结果：91%**

### 4.3.2 SVM

In [183]:
X_train.shape

(42000, 784)

In [184]:
y_train.shape

(42000,)

In [185]:
X_test.shape

(28000, 784)

In [186]:
classifier = svm.SVC()
classifier.fit(X_train, y_train)
y_test_pred_svm = classifier.predict(X_test)

In [187]:
results = np.array([np.array(test.index+1),y_test_pred_svm]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./Digit_Recognizer_Output/svm.csv")

**提交结果，网站限制，放弃测试**

### 4.3.3 KNN

In [188]:
classifier = neighbors.KNeighborsClassifier()
classifier.fit(X_train, y_train)
y_test_pred_knn = classifier.predict(X_test)

In [189]:
results = np.array([np.array(test.index+1),y_test_pred_knn]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./Digit_Recognizer_Output/knn.csv")

**提交结果：97%**

### 4.3.4 RandomForest

In [190]:
classifier = ensemble.RandomForestClassifier()
classifier.fit(X_train, y_train)
y_test_pred_rf = classifier.predict(X_test)

In [191]:
results = np.array([np.array(test.index+1),y_test_pred_rf]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./Digit_Recognizer_Output/randomforest.csv")

**提交结果：94%**

### 4.3.5 DecisionTree

In [192]:
classifier = tree.DecisionTreeClassifier()
classifier.fit(X_train, y_train)
y_test_pred_dt = classifier.predict(X_test)

In [193]:
results = np.array([np.array(test.index+1),y_test_pred_dt]).T
compared_results = pd.Series(results[:,1],results[:,0])  
compared_results.to_csv("./Digit_Recognizer_Output/decisiontree.csv")

**提交结果：86%**

## 4.4 特征工程

In [95]:
from sklearn.ensemble import ExtraTreesClassifier
model = ExtraTreesClassifier()
model.fit(X_train, y_train)

print(model.feature_importances_);

[  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   9.44799827e-06   5.24898575e-06   1.77717437e-05   3.08740358e-06
   9.89796627e-06   4.80700140e-06   0.00000000e+00   0.00000000e+00
   9.66201584e-06   3.08740358e-06   9.00789524e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   3.72233273e-06   5.20773720e-06
   1.75687104e-05   1.44992503e-05   4.15689725e-05   1.20526326e-04
   6.88178110e-05   5.60212027e-05   1.09533248e-04   9.59703747e-05
   5.26471078e-05   2.69295237e-04   5.79689095e-05   5.49475055e-05
   6.39827473e-05   1.40445359e-05   2.69834225e-05   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   4.93168128e-06
   4.01275984e-06   9.24895018e-06   8.42420120e-06   1.74477506e-05
   7.21844522e-05   7.69550165e-05   3.09708541e-04   4.48235602e-04
   2.43839466e-04   8.08988984e-04   1.17050959e-03   9.39144606e-04
   1.12934415e-03   7.93021035e-04   5.19762686e-04   4.15063337e-04
   6.79442057e-04   2.31775414e-04   4.69481601e-05   4.34600832e-05
   1.21272658e-05   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   4.77485088e-06
   1.84294849e-05   2.12704286e-05   4.82007697e-05   8.67528217e-05
   1.70063348e-04   3.58183214e-04   5.39941221e-04   1.25340815e-03
   1.80782319e-03   1.58552853e-03   3.33960935e-03   1.05670172e-03
   1.06846076e-03   1.16525230e-03   9.45054869e-04   6.42506006e-04
   4.73287854e-04   2.58553822e-04   2.01586273e-04   1.13009154e-04
   7.48315030e-05   1.68709076e-05   8.15956660e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   1.54822479e-05   1.03393019e-04   1.39140828e-04   2.07059925e-04
   5.26501935e-04   1.00890941e-03   1.37409956e-03   1.33616262e-03
   2.75159957e-03   6.16110396e-03   3.24243820e-03   4.97459845e-03
   2.77193961e-03   1.94059259e-03   1.47256089e-03   1.48270420e-03
   6.70950948e-04   9.86492973e-04   3.86070534e-04   4.42066171e-04
   1.82451084e-04   3.65777623e-05   1.89747934e-05   0.00000000e+00
   0.00000000e+00   0.00000000e+00   3.51242277e-06   1.80544961e-05
   3.57967665e-05   1.44313735e-04   3.37897211e-04   4.41256380e-04
   8.71219912e-04   1.13245211e-03   3.81648276e-03   1.73047580e-03
   2.37371422e-03   5.60015092e-03   2.70693110e-03   3.81094075e-03
   4.54176331e-03   2.57813812e-03   2.12151439e-03   1.50978677e-03
   1.50338007e-03   8.31362636e-04   9.59617415e-04   9.14969733e-04
   3.27254530e-04   1.31135009e-04   2.02535280e-05   3.52846123e-06
   0.00000000e+00   0.00000000e+00   0.00000000e+00   3.92151423e-05
   6.09080761e-05   2.36223207e-04   4.33289779e-04   5.26032860e-04
   9.20577700e-04   1.27609855e-03   2.62914602e-03   4.06141772e-03
   3.19061634e-03   4.77825684e-03   5.63366370e-03   6.56573768e-03
   5.46524444e-03   3.37267775e-03   5.19287187e-03   1.82609936e-03
   1.56951710e-03   9.99923462e-04   8.54136296e-04   6.63893501e-04
   6.11113851e-04   1.58172006e-04   1.25379265e-05   0.00000000e+00
   0.00000000e+00   0.00000000e+00   3.70488430e-06   5.39997443e-05
   1.32235114e-04   2.06037937e-04   4.16683592e-04   7.58557091e-04
   1.77045407e-03   1.44135254e-03   3.02908275e-03   2.67127359e-03
   2.74636325e-03   1.80967745e-03   5.12847942e-03   5.43595140e-03
   3.29634192e-03   2.76412757e-03   3.73210997e-03   1.69059741e-03
   3.06323715e-03   1.52913208e-03   9.62289291e-04   8.06312778e-04
   6.79005859e-04   1.63295844e-04   4.78117270e-05   0.00000000e+00
   0.00000000e+00   5.23811908e-06   4.01275984e-06   4.90088583e-05
   1.02662167e-04   3.13025765e-04   3.72977854e-04   1.63650821e-03
   1.87434958e-03   1.93890717e-03   2.24090321e-03   6.73770097e-03
   7.51506863e-03   4.72734248e-03   3.87668510e-03   4.33969147e-03
   4.81858825e-03   2.56064677e-03   4.94594092e-03   2.38116381e-03
   2.45649019e-03   1.08583119e-03   9.67547390e-04   5.37504893e-04
   4.15747170e-04   1.63777532e-04   4.07477864e-05   5.05867916e-06
   0.00000000e+00   0.00000000e+00   1.21675905e-05   4.56041746e-05
   1.09142737e-04   2.62346901e-04   6.82604966e-04   1.06246833e-03
   1.43477360e-03   3.66446993e-03   4.05151069e-03   3.91931162e-03
   2.52942314e-03   2.55322535e-03   2.58694227e-03   4.84736569e-03
   3.51581881e-03   3.36777038e-03   3.52611417e-03   6.14590284e-03
   2.36121787e-03   2.80250912e-03   1.17683457e-03   4.42052084e-04
   2.06614990e-04   1.48408846e-04   1.31971629e-05   2.64634593e-06
   0.00000000e+00   3.28943644e-06   4.72319230e-06   4.97372321e-05
   3.70024990e-04   2.04928885e-04   5.64971853e-04   8.28972313e-04
   1.75049723e-03   3.80553258e-03   3.29521922e-03   4.87236282e-03
   4.32117110e-03   3.52996419e-03   5.80604910e-03   4.71886812e-03
   4.19343250e-03   2.63995801e-03   4.17943102e-03   2.45754470e-03
   1.26830227e-03   1.01792081e-03   2.86830106e-03   1.52401090e-03
   1.53270849e-04   2.39926716e-05   1.19645640e-05   0.00000000e+00
   0.00000000e+00   0.00000000e+00   8.55966891e-06   3.07129678e-05
   8.94386780e-05   3.47176499e-04   4.69441507e-04   3.59185949e-03
   2.67341456e-03   3.14964109e-03   3.72539944e-03   4.41460705e-03
   3.25028942e-03   3.33781479e-03   1.60638851e-02   3.41086961e-03
   3.15160020e-03   6.05683984e-03   2.45043681e-03   3.95589294e-03
   2.53736588e-03   1.46804533e-03   3.57456340e-03   2.62999510e-03
   1.14434964e-04   3.99208894e-05   1.29123848e-05   0.00000000e+00
   0.00000000e+00   3.96951889e-06   0.00000000e+00   2.45169548e-05
   6.10214318e-05   2.48186825e-04   8.18044421e-04   1.34942810e-03
   4.04540452e-03   6.35138590e-03   7.19919124e-03   3.85749377e-03
   7.84138297e-03   8.04374633e-03   4.07051164e-03   4.42553800e-03
   3.44379005e-03   3.46427042e-03   4.16843081e-03   1.45366822e-03
   1.53377798e-03   1.17372486e-03   1.10788426e-03   4.02111488e-04
   3.03037377e-04   3.03269096e-05   9.87251598e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   1.71404469e-05
   1.47780929e-04   7.86920236e-04   5.31057044e-04   1.95213726e-03
   3.90420911e-03   4.54398042e-03   3.28289827e-03   3.26146732e-03
   5.32304097e-03   5.08700159e-03   6.98022404e-03   2.49599459e-03
   4.64507644e-03   6.91759679e-03   3.39707153e-03   1.38270358e-03
   1.08540741e-03   8.78740731e-04   1.57452391e-03   7.76300378e-04
   2.32922257e-04   4.86175000e-05   9.64616604e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   2.00380512e-05
   8.23024185e-05   1.22036289e-03   1.09552716e-03   5.14736424e-03
   7.78931514e-03   6.38908468e-03   3.81647331e-03   3.61945058e-03
   3.72063608e-03   1.14305834e-02   5.60392358e-03   2.41520237e-03
   3.09676717e-03   3.28397663e-03   2.47854572e-03   1.55475797e-03
   1.37942759e-03   1.21437695e-03   5.91406062e-04   2.61215430e-04
   2.27838801e-04   4.98171579e-05   2.09813422e-05   2.75661034e-06
   0.00000000e+00   0.00000000e+00   4.91817135e-06   5.33967610e-05
   1.01415753e-04   4.77449381e-04   1.34634954e-03   3.64648095e-03
   4.97994930e-03   3.63254795e-03   3.98127232e-03   2.98340127e-03
   7.25808624e-03   7.09330625e-03   9.88263906e-03   5.00223606e-03
   3.22040386e-03   2.27891099e-03   2.99075507e-03   2.22462784e-03
   8.89410490e-04   9.25693185e-04   5.81199515e-04   4.99615279e-04
   2.26505771e-04   8.19127368e-05   6.19729191e-05   5.20890383e-06
   0.00000000e+00   0.00000000e+00   2.08641655e-05   5.68642230e-05
   1.45231148e-04   7.29962025e-04   1.41658883e-03   1.70592094e-03
   2.87705438e-03   2.17257695e-03   2.83009937e-03   4.13119144e-03
   5.42641496e-03   5.69271461e-03   3.90711854e-03   3.02396467e-03
   1.54392330e-03   2.65499694e-03   3.90565011e-03   1.21856014e-03
   2.52404680e-03   1.00991411e-03   4.39335289e-04   3.26904797e-04
   2.03262120e-04   6.90678439e-05   1.49030676e-05   2.08379610e-05
   0.00000000e+00   0.00000000e+00   1.79588547e-05   6.46832801e-05
   1.47628708e-04   4.75119768e-04   3.02044580e-03   1.35785839e-03
   1.83002948e-03   7.78631052e-03   5.15887670e-03   7.53557070e-03
   3.86095255e-03   4.87980735e-03   2.18332313e-03   3.54731452e-03
   1.98465362e-03   1.12225118e-03   2.68079880e-03   1.96745155e-03
   3.05296308e-03   2.38802278e-03   7.71574945e-04   4.06812139e-04
   2.15921509e-04   4.51122570e-05   2.95934901e-05   5.27025340e-06
   0.00000000e+00   0.00000000e+00   8.09970878e-06   1.21644509e-04
   1.59752356e-04   6.04607154e-04   1.02560307e-03   1.72032326e-03
   2.60663365e-03   5.69197268e-03   5.39181870e-03   7.62477515e-03
   2.49240526e-03   2.44506972e-03   1.61038408e-03   1.64966055e-03
   1.38191445e-03   3.72577440e-03   2.63897299e-03   2.86690265e-03
   1.13274146e-03   9.97301972e-04   7.92524320e-04   4.20602519e-04
   1.79713375e-04   6.69040693e-05   3.52846123e-06   4.26355732e-06
   0.00000000e+00   0.00000000e+00   1.34337899e-05   6.86712117e-05
   2.61920447e-04   5.26803421e-04   1.62371237e-03   6.83170977e-03
   3.13871610e-03   4.87210144e-03   3.09225118e-03   2.67461570e-03
   4.30382251e-03   3.81935214e-03   1.64932068e-03   2.06654320e-03
   1.42393661e-03   1.43857110e-03   2.29647760e-03   1.18938142e-03
   8.57668717e-04   7.47584959e-04   4.26046485e-04   2.11610973e-04
   1.29447482e-04   2.09185890e-05   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   3.07340175e-06   8.95280046e-05
   2.96542263e-04   3.93022760e-04   5.50179080e-04   7.15236590e-03
   5.79629346e-03   2.53931840e-03   1.99260484e-03   4.26937589e-03
   1.86061512e-03   1.70065534e-03   2.90618478e-03   1.56010478e-03
   1.43373575e-03   1.18487600e-03   1.52815356e-03   1.08807690e-03
   7.70034041e-04   9.78885841e-04   4.93908027e-04   2.00776058e-04
   8.37675817e-05   8.23312127e-06   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   1.15668758e-05   5.74148153e-05
   1.22927053e-04   3.23033697e-04   3.92192917e-04   1.26134017e-03
   1.40203296e-03   6.33725498e-03   4.90833923e-03   2.05542919e-03
   1.71368617e-03   2.13513493e-03   1.76463045e-03   2.09415464e-03
   1.04818000e-03   1.19151492e-03   9.15260771e-04   7.44917513e-04
   6.35604538e-04   4.38765932e-04   1.81699272e-04   5.77617156e-05
   3.26562383e-05   1.02172022e-05   7.51924953e-06   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   2.32434620e-05
   1.20020371e-04   1.75039692e-04   3.53014933e-04   5.94185187e-04
   1.38101842e-03   4.14774117e-03   3.49168832e-03   2.10223259e-03
   4.88942954e-03   4.27463815e-03   1.86013795e-03   2.39614517e-03
   1.54649246e-03   1.00963668e-03   6.75067219e-04   8.12602861e-04
   4.09333492e-04   1.99044061e-04   1.08984719e-04   6.04213345e-05
   2.31169855e-05   1.59851896e-05   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   8.41984466e-06   1.74157264e-05
   5.51906807e-05   2.03590283e-04   2.06886639e-04   4.04357244e-04
   6.79288187e-04   8.74893792e-04   1.52371146e-03   1.67451190e-03
   1.33771396e-03   1.19385518e-03   6.78571337e-04   1.83652187e-03
   7.38691966e-04   5.05288818e-04   3.11703979e-04   2.99252844e-04
   1.93847186e-04   1.06756059e-04   5.27302629e-05   3.59078820e-05
   9.34816453e-06   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   4.41057654e-06
   2.82319033e-05   4.51296476e-05   7.21557836e-05   3.12179850e-04
   4.38194186e-04   1.18293188e-03   2.29912370e-03   8.83356362e-04
   1.65391643e-03   4.12626655e-04   7.03846212e-04   4.03224215e-04
   5.28271019e-04   5.23562709e-04   2.53929661e-04   4.65545361e-04
   1.27484713e-04   4.45251717e-05   3.12710497e-05   1.23347903e-05
   4.01275984e-06   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   1.31561831e-05   9.61363156e-06   1.11268727e-05   2.64897728e-05
   4.79105935e-05   1.25445362e-04   1.27939150e-04   1.65459872e-04
   1.62692523e-04   2.19131573e-04   1.37226370e-04   1.05012423e-03
   1.54255445e-04   2.96026845e-04   1.27489812e-04   5.06448433e-05
   1.21535887e-05   1.22530017e-05   1.01345986e-05   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
   3.26382664e-06   9.77677800e-06   0.00000000e+00   2.03799735e-05
   0.00000000e+00   4.40360330e-06   7.23334553e-06   0.00000000e+00
   4.29296117e-06   4.85163420e-06   7.07159383e-06   8.01687148e-06
   2.64634593e-06   4.99469996e-06   0.00000000e+00   0.00000000e+00
   0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00]

In [106]:
features = model.feature_importances_

In [107]:
features.shape

(784,)

In [108]:
features.mean()

0.0012755102040816326

In [109]:
features = pd.DataFrame(np.array([features]).T, index=test.columns, columns=['importance'])

In [110]:
features.head()

        importance
pixel0         0.0
pixel1         0.0
pixel2         0.0
pixel3         0.0
pixel4         0.0

In [182]:
features["importance"].sort_values(axis=0, ascending=False).head(78)

pixel350    0.016064
pixel433    0.011431
pixel462    0.009883
pixel377    0.008044
pixel376    0.007841
pixel428    0.007789
pixel513    0.007786
pixel543    0.007625
pixel515    0.007536
pixel264    0.007515
pixel460    0.007258
pixel374    0.007199
pixel595    0.007152
pixel461    0.007093
pixel406    0.006980
pixel409    0.006918
pixel567    0.006832
pixel263    0.006738
pixel211    0.006566
pixel429    0.006389
pixel373    0.006351
pixel625    0.006337
pixel153    0.006161
pixel299    0.006146
pixel353    0.006057
pixel322    0.005806
pixel596    0.005796
pixel489    0.005693
pixel541    0.005692
pixel210    0.005634
              ...
pixel517    0.004880
pixel319    0.004872
pixel569    0.004872
pixel295    0.004847
pixel268    0.004819
pixel209    0.004778
pixel265    0.004727
pixel323    0.004719
pixel408    0.004645
pixel401    0.004544
pixel184    0.004542
pixel379    0.004426
pixel347    0.004415
pixel267    0.004340
pixel320    0.004321
pixel572    0.004304
pixel657    0.004275
pixel599    0.004269
pixel324    0.004193
pixel326    0.004179
pixel382    0.004168
pixel653    0.004148
pixel487    0.004131
pixel378    0.004071
pixel207    0.004061
pixel290    0.004052
pixel372    0.004045
pixel458    0.003981
pixel355    0.003956
pixel291    0.003919
Name: importance, dtype: float64

In [128]:
index_columns = features["importance"].sort_values(axis=0, ascending=False).head(78).index # 选择十分之一

In [141]:
X_train_features = np.array(train[index_columns])[:]

In [143]:
X_train_features.shape

(42000, 78)

In [146]:
y_train.shape

(42000,)

In [147]:
test.shape

(28000, 784)

In [148]:
X_test_features = np.array(test[index_columns])[:]

In [151]:
X_test_features.shape

(28000, 78)

### 标准化

In [155]:
from sklearn import preprocessing

standardized_X_train_features = preprocessing.scale(X_train_features)
standardized_X_test_features = preprocessing.scale(X_test_features)

/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)
/home/evil_rabbit/anaconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [154]:
standardized_X_train_features.shape

(42000, 78)

In [156]:
standardized_X_test_features.shape

(28000, 78)

## 另一种确定特征工程的方法

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
# create the RFE model and select 3 attributes
rfe = RFE(model, 3)
rfe = rfe.fit(X_train, y_train)
# summarize the selection of the attributes
print(rfe.support_)
print(rfe.ranking_)

## 4.5 重新预测

In [161]:
from sklearn.naive_bayes import GaussianNB

classifiers = [tree.DecisionTreeClassifier,
               neighbors.KNeighborsClassifier,
               svm.SVC,
               GaussianNB,
               ensemble.RandomForestClassifier,
               linear_model.LogisticRegression]

In [173]:
y_test_pred = np.zeros([len(standardized_X_test_features), len(classifiers)])

for i,Classifier in enumerate(classifiers):
    classifier = Classifier()
    classifier.fit(standardized_X_train_features, y_train)
    y_test_pred[:,i] = classifier.predict(standardized_X_test_features)

In [175]:
y_test_pred.shape

(28000, 6)

In [176]:
results = np.array([np.array(test.index+1),y_test_pred[:,0]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/decisiontree.csv")

In [177]:
results = np.array([np.array(test.index+1),y_test_pred[:,1]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/knn.csv")

In [178]:
results = np.array([np.array(test.index+1),y_test_pred[:,2]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/svm.csv")

In [179]:
results = np.array([np.array(test.index+1),y_test_pred[:,3]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/bayes.csv")

In [180]:
results = np.array([np.array(test.index+1),y_test_pred[:,4]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/radomforest.csv")

In [181]:
results = np.array([np.array(test.index+1),y_test_pred[:,5]]).T
compared_results = pd.Series(results[:,1],results[:,0])
compared_results.to_csv("./Digit_Recognizer_Output2/logisregression.csv")

### 提交结果：

* Bayes: 79%  
* DecisionTree: 50%
* KNN: 95%  
* LogisRegression: 85%  
* RandomForest: 90%  
* SVM: 1.5% 

说明：后面两种方法超过了网站的限制，暂时未能测试，测试后补充。

## 4.6 小结  

* 特征工程的选择可以极大提高运算速度，数据集过大时，最好提取特征工程。  
* 特征工程选择时要注意，本题中，选择了前1/10，发现最小的重要性比平均值还大很多，可能会损失一些特征，影响最终结果。  
* 在计算时需要注意先对数据标准化。  


说明：直接预测时，除逻辑回归外，其他算法还在运行中（速度太慢），运行完后更新。